
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* button */

.btn-primary{
  background-color: #FD6E0A ;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
  height: 64px;
}



/* /nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
list-style:none ;
margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}
.dark-2{
    color: #474747;
}
.line{
    display:flex;
}
.banner-grting{
    font-size: 40px;
   
    margin-bottom: 0;

}
.banner-title{
font-weight: bold;
font-size: 70px;
width: 498px;
height: 80px;

}
img{
    width: 584px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 150px;
}
.banner-content{
    /* max-width: 584px; */
    height: 342;
    width:600px ;
}.nj{
    background-image: url('images/images/developer.png'),url('images/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner-description{
padding: 10px;
}

.about{
    background-color: #FFF8F3;
    /* width: 800px; */
    margin-top: 150px;
    border-radius: 10px;
    padding: 100px 150px;
}
   

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #1E1E1E;
    text-align: center;
   
}
.section-description{
margin-top: 50px;
}
main{
    max-width: 1140px;
    margin: 0 auto ;
}
.item-description{
    font-weight: 500;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.skill-container img{
width: 80px;
}
.skill-container{
    display: flex;
    margin-top: 80px;
  gap:24px;
 
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(116, 112, 112);
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: rgba(70, 66, 62, 0.897);
    font-size: 14px;
}
.experience-title{
    color: #000000;
}
.bt{
    
    background-color: #FD6E0A ;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 15px;
    width: 200px;
    height: 64px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.last{
    background-color: #FFF8F3;
    /* width: 800px; */
    margin-top: 150px;
text-align: center;
    padding: 100px 150px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.pic img{
    width: 50px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
height: 64px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding: 10px 20px;
border: none;
}
.fa-solid fa-download{
    width: 100px;
}